body{
  margin:0px auto;
  text-align: center;
  font-family:Microsoft JhengHei;
}
.header{
  width:100%;
  background:rgb(38,38,38);
  color:white;
  font-size:30px;
  line-height:60px;
  /* padding-left:15px; */
  margin: 0px;
}
.title{
  height:40px;
  line-height:40px;
  text-align:center;
  font-size:20px;
  color:#722222;
  margin-top:15px;
  margin-bottom:10px;
}
.container{
  width:auto;
}
.table {
  border-collapse:separate;
  border-spacing: 3px;
  margin-bottom: 50px;
  margin-left:auto;
  margin-right:auto;
}
.table-cell {
  word-break: break-all;
  vertical-align:middle;
  text-align:center;
  width: 100px;
  height: 40px;
  font-size:14px;
  padding: 0px;
  transition-duration:0.1s;
}
td:hover{
  background: #cccccc;
}
.table-head {
  color: white;
}
.row:nth-child(even){
  background: #EFEFEF;
}
.row:nth-child(odd){
  background: #FDFDFD;
}
.selected{
  background: rgb(240,248,205);
}
.row:hover .time{
  background: #00a600;
}
.time{
  width:auto;
  padding:0px 10px;
  background:#73bf00;
  color:white;
}
.week{
  background:#ea7500;
}
.footer{
  height:40px;
  background:rgb(38,38,38);
  color:white;
  font-size:15px;
  line-height:40px;
  text-align:center;
}
.input_class { 
  margin: 0 auto;
  width: 400px;
}
.check_time_block{
  margin:0 auto;
}
.touch2show{
  color:#0000c6;
  opacity: 0;
  transition-duration:2s;
  /* display: none; */
}
td:hover>.touch2show, td:hover>.touch2show:after{
  /* content:'hello'; */
  opacity: 1;
  transition-duration:0.5s;
  /* display: block; */
}
.styled-select {
 /* background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0; */
 height: 29px;
 overflow: hidden;
 width: 240px;
}

.styled-select select {
 background: transparent;
 border: none;
 font-size: 14px;
 height: 29px;
 padding: 5px; /* If you add too much padding here, the options won't show in IE */
 width: 268px;
}

.styled-select.slate {
background: white;
 /* background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center; */
 height: 34px;
 width: 240px;
}

.styled-select.slate select {
 border: 1px solid #ccc;
 font-size: 16px;
 height: 34px;
 width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 20px;
}

.slate   { background-color: #ddd; }
.green   { background-color: #779126; }
.blue    { background-color: #3b8ec2; }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }
#mainselection select {
 border: 0;
 color: #EEE;
 background: transparent;
 font-size: 20px;
 font-weight: bold;
 padding: 2px 10px;
 /* width: 378px;
 *width: 350px; */
 *background: #58B14C;
 -webkit-appearance: none;
}
